
:root {
    --couleur-primaire: #9356DC ;
    --couleur-secondaire: #FF79DA;
    --couleur-tertiaire: #99E2D0;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #F6F6F6;

}


/***** HEADER *****/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px #00000026;
    height: 63px;
    position: relative;
    background-color: white;
}

.header__logo {
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

/***** MAIN *****/
/***** LOCATION *****/

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    color: #353535;
    height: 50px;
    gap: 17px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.location__text {
    font-size: 16px;
    font-weight: 500;
}

/***** PRESENTATION *****/

.presentation {
    text-align: center;
    padding-bottom: 50px;
}

.presentation h1 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.presentation p {
    font-size: 18px;
    font-weight: 300;
}

.btn {
    background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
    color: white;
    height: 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px #00000040;
    width: 218px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

/***** STEP/PROCESS *****/

.container {
    background-color: #FFFFFF;
    padding: 30px 20px 60px 30px;
}

.process__steps {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px
}

.process__steps i {
    color: #7E7E7E;
    font-size: 20px;
    margin: 0px 25px 0px 6px;
}

.process__step {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 4px 15px 0px #00000026;
    padding: 24px 0px 24px 25px;
    border-radius: 1rem;
    background-color: #f2f2f2;
    font-weight: 500;
}

.process__number {
    background-color: #9356DC;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-35px);
}

/***** RESTAURANTS *****/

.restaurants .container {
    background-color: #f6f6f6;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px #0000001A;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    position: relative;
}

.card__image img {
    display: flex;
    height: 175px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.card__new {
    background-color: #99E2D0;
    color: #008766;
    box-shadow: 0px 2px 4px 0px #00000026;
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    top: 12px;
} 

.card__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 20px 15px;
}

.card__title  {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card__subtitle {
    font-size: 17px;
    font-weight: 300;
}






























