$color_white: white;
$color_black: black;
$font-family_1: "Roboto", sans-serif;
$font-family_2: 'Shrikhand';
$background-primary-color: #9356DC;
$background-secondary-color: #FF79DA;
$background-tertiary-color: #99E2D0;
$background-color_white: white;
$background-color_green: #99E2D0;