@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes roll-left {
  0% {
    opacity: 0;
    transform: translateX(-250px) rotate(-200deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.39);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate3d(0, 0, 1, -90deg);
    transform-origin: left bottom;
  }
  100% {
    transform: none;
    transform-origin: left bottom;
  }
}
@keyframes roll-right {
  0% {
    opacity: 0;
    transform: translateX(250px) rotate(200deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.39);
  }
}
@keyframes rotate-right {
  0% {
    transform: rotate3d(0, 0, 1, -90deg);
    transform-origin: right bottom;
  }
  100% {
    transform: none;
    transform-origin: right bottom;
  }
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9490196078);
  z-index: 10;
  gap: 20px;
  animation: loader 1.5s 3s both;
}

.icecream {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-top: 130px;
}

.dot1 {
  background-color: #9356DC;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  top: 169px;
  position: relative;
  animation: rotate-right 1s linear 1s both, roll-right 1s linear 1s both;
}
.dot1::after {
  display: flex;
  justify-content: center;
  content: "ING";
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 10px;
  left: 0px;
  height: 30px;
  background-color: #9356DC;
  width: 100px;
  border-radius: 100%;
}

.dot2 {
  background-color: #FF79DA;
  width: 90px;
  height: 90px;
  top: 26px;
  border-radius: 100%;
  position: relative;
  animation: rotate-left 1s linear 1.5s both, roll-left 1s linear 1.5s both;
  z-index: 1;
}
.dot2::after {
  display: flex;
  justify-content: center;
  content: "AD";
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 10px;
  left: 0px;
  height: 30px;
  background-color: #FF79DA;
  width: 90px;
  border-radius: 100%;
}

.dot3 {
  background-color: #99E2D0;
  width: 80px;
  height: 80px;
  bottom: 101px;
  border-radius: 100%;
  position: relative;
  animation: rotate-right 1s linear 2s both, roll-right 1s linear 2s both;
  z-index: 2;
}
.dot3::after {
  display: flex;
  justify-content: center;
  content: "LO";
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 10px;
  left: 0px;
  height: 30px;
  background-color: #99E2D0;
  width: 80px;
  border-radius: 100%;
}

.cone {
  margin-top: -20px;
  height: 0px;
  width: 0px;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  border-top: 140px solid tan;
  animation: slide-bottom 1s ease 0s 1 normal forwards;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  height: 63px;
  position: relative;
  background-color: white;
}

.header__logo {
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  color: #353535;
  height: 50px;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.location__text {
  font-size: 16px;
  font-weight: 500;
}

.presentation {
  text-align: center;
  padding-bottom: 50px;
}
.presentation h1 {
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.presentation p {
  font-size: 18px;
  font-weight: 300;
}

.btn {
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  color: white;
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  width: 218px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn:hover {
  opacity: 85%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  transition-duration: 0.5s;
}

.container {
  background-color: white;
  padding: 30px 30px 60px 30px;
}

.process__steps {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
}
.process__steps i {
  color: #7E7E7E;
  font-size: 20px;
  margin: 0px 25px 0px 6px;
}

.process__step {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 24px 0px 24px 25px;
  border-radius: 1rem;
  background-color: white;
  font-weight: 500;
}
.process__step:hover {
  cursor: pointer;
}
.process__step:hover i {
  color: #9356DC;
}

.process__number {
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-35px);
}

.restaurants .container {
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  text-decoration: none;
  color: black;
  position: relative;
}

.card__image img {
  display: flex;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.card__new {
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 12px;
  top: 12px;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 20px 15px;
}

.card__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
}

.card__subtitle {
  font-size: 17px;
  font-weight: 300;
}

.card__icon i {
  position: absolute;
  font-size: 22px;
}

.btn-heart .fa-solid {
  opacity: 0;
}
.btn-heart .fa-solid:hover {
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(360deg, #FF79DA -11.44%, #9356DC 123.93%);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  height: 150px;
  padding: 22px 25px 22px 25px;
  z-index: 10;
  gap: 10px;
}
.footer .P1 {
  color: white;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

footer {
  gap: 5px;
}
footer a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
footer a:hover {
  text-decoration: underline;
  color: white;
}

.fa-utensils {
  padding-right: 15px;
}

.fa-handshake-angle {
  padding-right: 9px;
}

@media (min-width: 1024px) {
  .presentation {
    padding-bottom: 20px;
  }
  .presentation h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .process__steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }
  .process__step {
    width: 320px;
  }
  .container {
    padding: 50px 180px 50px 180px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 100px;
  }
  .footer {
    display: grid;
    align-items: end;
    justify-items: start;
    padding-bottom: 30px;
    padding-top: 0px;
    height: 80px;
    grid-template-columns: 1fr 200px 200px 130px 130px 140px;
    grid-template-rows: 1fr;
    grid-template-areas: ". P2 P3 P4 P5 P1";
    gap: 5px;
  }
  .P1 {
    grid-area: P1;
  }
  .P2 {
    grid-area: P2;
  }
  .P3 {
    grid-area: P3;
  }
  .P4 {
    grid-area: P4;
  }
  .P5 {
    grid-area: P5;
  }
  .P4 a {
    font-weight: 400;
  }
  .P5 a {
    font-weight: 400;
  }
}/*# sourceMappingURL=style.css.map */