$color_white: white;
$color_black: black;
$font-family_1: "Roboto", sans-serif;
$font-family_2: 'Shrikhand';
$background-primary-color: #9356DC;
$background-secondary-color: #FF79DA;
$background-tertiary-color: #99E2D0;
$background-color_white: white;

@mixin flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin text-font {
	font-size: 18px;
	font-weight: 600;
}

@keyframes loader {
	100% {
		opacity: 0;
		z-index: -10;
	}
}
@keyframes slide-bottom {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes roll-left {
	0% {
		opacity: 0;
		transform: translateX(-250px) rotate(-200deg);
	}
	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
		box-shadow: 0px 4px 23px 0px rgba(0,0,0,0.39);
	}
}
@keyframes rotate-left {
	0% {
		transform: rotate3d( 0, 0, 1, -90deg);
		transform-origin: left bottom;
	}
	100% {
		transform: none;
		transform-origin: left bottom;
	}
}
@keyframes roll-right {
	0% {
		opacity: 0;
		transform: translateX(250px) rotate(200deg);
	}
	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
		box-shadow: 0px 4px 23px 0px rgba(0,0,0,0.39);
	}
}
@keyframes rotate-right {
	0% {
		transform: rotate3d( 0, 0, 1, -90deg);
		transform-origin: right bottom;
	}
	100% {
		transform: none;
		transform-origin: right bottom;
	}
}
body {
	font-family: $font-family_1;
	padding: 0px;
	margin: 0px;
	background-color: $background-color_white;
}
.loader {
	@include flexcenter();
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: #fffffff2;
	z-index: 10;
	gap: 20px;
	animation: loader 1.5s 3s both;
}
.icecream {
	@include flexcenter();
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	margin-top: 130px;
}
.dot1 {
	background-color: $background-primary-color;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	top: 169px;
	position: relative;
	animation: rotate-right 1s linear 1s both, roll-right 1s linear 1s both;
	&::after {
		display: flex;
		justify-content: center;
		content: 'ING';
		color: $color_white;
		@include text-font();
		text-shadow: 2px 2px 0px rgba(0,0,0,0.35);
		position: absolute;
		bottom: 10px;
		left: 0px;
		height: 30px;
		background-color: $background-primary-color;
		width: 100px;
		border-radius: 100%;
	}
}
.dot2 {
	background-color: $background-secondary-color;
	width: 90px;
	height: 90px;
	top: 26px;
	border-radius: 100%;
	position: relative;
	animation: rotate-left 1s linear 1.5s both, roll-left 1s linear 1.5s both;
	z-index: 1;
	&::after {
		display: flex;
		justify-content: center;
		content: 'AD';
		color: $color_white;
		@include text-font();
		text-shadow: 2px 2px 0px rgba(0,0,0,0.35);
		position: absolute;
		bottom: 10px;
		left: 0px;
		height: 30px;
		background-color: $background-secondary-color;
		width: 90px;
		border-radius: 100%;
	}
}
.dot3 {
	background-color: $background-tertiary-color;
	width: 80px;
	height: 80px;
	bottom: 101px;
	border-radius: 100%;
	position: relative;
	animation: rotate-right 1s linear 2s both, roll-right 1s linear 2s both;
	z-index: 2;
	&::after {
		display: flex;
		justify-content: center;
		content: 'LO';
		color: $color_white;
		@include text-font();
		text-shadow: 2px 2px 0px rgba(0,0,0,0.35);
		position: absolute;
		bottom: 10px;
		left: 0px;
		height: 30px;
		background-color: $background-tertiary-color;
		width: 80px;
		border-radius: 100%;
	}
}
.cone {
	margin-top: -20px;
	height: 0px;
	width: 0px;
	border-right: 45px solid transparent;
	border-left: 45px solid transparent;
	border-top: 140px solid tan;
	animation: slide-bottom 1s ease 0s 1 normal forwards;
}
header {
	@include flexcenter();
	box-shadow: 0px 2px 4px 0px #00000026;
	height: 63px;
	position: relative;
	background-color: $background-color_white;
}
.header__logo {
	font-family: $font-family_2;
	font-size: 30px;
	font-weight: 400;
	text-decoration: none;
	color: $color_black;
}
.location {
	@include flexcenter();
	background-color: #EAEAEA;
	color: #353535;
	height: 50px;
	gap: 17px;
	box-shadow: 0px 4px 4px 0px #00000040;
}
.location__text {
	font-size: 16px;
	font-weight: 500;
}
.presentation {
	text-align: center;
	padding-bottom: 50px;
	h1 {
		font-size: 24px;
		font-weight: 700;
		padding-top: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}
	p {
		font-size: 18px;
		font-weight: 300;
	}
}
.btn {
	background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
	color: $color_white;
	height: 50px;
	border: none;
	border-radius: 25px;
	box-shadow: 0px 4px 10px 0px #00000040;
	width: 218px;
	font-size: 16px;
	font-weight: 500;
	font-family: $font-family_1;
	margin-top: 15px;
	margin-bottom: 15px;
	&:hover {
		opacity: 85%;
		box-shadow: 0px 4px 15px 0px #00000059;
		transition-duration: 0.5s;
	}
}
.container {
	background-color: $background-color_white;
	padding: 30px 30px 60px 30px;
}
.process__steps {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 25px;
	i {
		color: #7E7E7E;
		font-size: 20px;
		margin: 0px 25px 0px 6px;
	}
}
.process__step {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 0px 4px 15px 0px #00000026;
	padding: 24px 0px 24px 25px;
	border-radius: 1rem;
	background-color: $background-color_white;
	font-weight: 500;
	&:hover {
		cursor: pointer;
		i { color: #9356DC;
	}
}
} 
	.process__number {
		background-color: $background-primary-color;
		color: $color_white;
		width: 24px;
		height: 24px;
		border-radius: 50px;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateX(-35px);
	}

.restaurants {
	.container {
		background-color: $background-color_white;
	}
}
.cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 20px;
}
.card {
	background-color: $background-color_white;
	box-shadow: 0px 4px 15px 0px #0000001A;
	border-radius: 15px;
	text-decoration: none;
	color: $color_black;
	position: relative;
}
.card__image {
	img {
		display: flex;
		height: 175px;
		object-fit: cover;
		width: 100%;
		border-radius: 15px 15px 0px 0px;
	}
}
.card__new {
	background-color: $background-tertiary-color;
	color: #008766;
	box-shadow: 0px 2px 4px 0px #00000026;
	font-size: 14px;
	font-weight: 500;
	width: 80px;
	height: 29px;
	border-radius: 2px;
	position: absolute;
	@include flexcenter();
	right: 12px;
	top: 12px;
}
.card__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px 20px 15px;
}
.card__title {
	@include text-font();
	margin: 0;
	margin-top: 15px;
	margin-bottom: 5px;
}
.card__subtitle {
	font-size: 17px;
	font-weight: 300;
}
.card__icon {
	i {
		position: absolute;
		font-size: 22px;
	}
}
.btn-heart {
	.fa-solid {
		opacity: 0;
		&:hover {
			opacity: 1;
			color: transparent;
			background-clip: text;
			transition: all 0.5s ease-in-out;
			background-image: linear-gradient(360deg, #FF79DA -11.44%, #9356DC 123.93%);
		}
	}
}
.footer {
	display: flex;
	flex-direction: column;
	background-color: #353535;
	height: 150px;
	padding: 22px 25px 22px 25px;
	z-index: 10;
	.P1 {
		color: $color_white;
		font-family: $font-family_2;
		font-size: 18px;
		font-weight: 400;
		margin: 0;
		padding: 0;
	}
}
footer {
	gap: 5px;
	a {
		&:hover {
			text-decoration: underline;
			color: $color_white;
		}
		color: $color_white;
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
	}
}
.fa-utensils {
	padding-right: 15px;
}
.fa-handshake-angle {
	padding-right: 9px;
}
@media (min-width: 1024px) {
	.presentation {
		h1 {
			font-size: 40px;
			font-weight: 700;
		}
		padding-bottom: 20px;
	}
	.process__steps {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 35px;
	}
	.process__step {
		width: 320px;
	}
	.container {
		padding: 50px 180px 50px 180px;
	}
	.cards {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 50px 100px;
	}
	.footer {
		display: grid;
		align-items: end;
		justify-items: center;
		padding-bottom: 30px;
		padding-top: 0px;
		height: 100px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: ". P2 P3 P4 P5 P1";
	}
	.P1 {
		grid-area: P1;
	}
	.P2 {
		grid-area: P2;
	}
	.P3 {
		grid-area: P3;
	}
	.P4 {
		grid-area: P4;
	}
	.P5 {
		grid-area: P5;
	}
}
